
<div class="row">
  <div class="col-3" >
    <categories></categories>
  </div>
  <div class="col-9">
    <div class="row">
		<div ng-repeat="product in getProducts()">
			<div class="col">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" style="width: 18rem; height: 12rem;" ng-src="{{product.img}}" alt="{{ product.PromptForDesc }}">
					<div class="card-body">
						<h4 class="card-title">{{ product.PromptForDesc }}</h4>
						<p class="card-text">{{ product.Price }}</p>
					</div>
					<div class="card-footer">
					<a class="btn btn-primary btn-block" href="/product/{{product.ID}}">View Item </a>
					</div>
				</div>    
			</div>
		</div>
    </div>
  </div>
</div>