
<div class="container">
	<div ng-repeat="categories in getProducts()">
		<h3>{{categories.Category.Desc}}</h3>
		<hr />
		<div class="row">
			<div ng-repeat="prod in categories.Category.Items">
				<div class="col">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" style="width: 18rem; height: 12rem;" ng-src="{{prod.Item.img}}" alt="{{ prod.Item.PromptForDesc }}">
						<div class="card-body">
							<h4 class="card-title">{{ prod.Item.PromptForDesc }}</h4>
							<p class="card-text">{{ prod.Item.Price }}</p>
						</div>
					

<div ng-controller="ProductModelController" class="modal-demo">
        <button type="button" class="btn btn-primary btn-block" ng-click="open(categories.Category.ID, prod.Item.ID  )">View Item</button>
    </div>
					</div>    
				</div>
			</div>
		</div>
	</div>
  </div>
</div>
